@tailwind base;
@tailwind components;
@tailwind utilities;

.fab-container {
    horizontal-alignment: right;
    vertical-alignment: bottom;
    margin: 16;
}

.input {
    border-width: 1;
    border-color: #e2e8f0;
}

.list-group {
    separator-color: transparent;
}